In [1]:
# Set path to data
DIR = "../AnalysisData/"

#Celem ćwiczenia jest pobranie i uporządkowanie przydzielonego zbioru danych zgodnie z protokołem TIER i zasadami "tidy data".

In [9]:
import pandas as pd

tb=pd.read_csv(f"{DIR}tb.csv")
#url2='https://raw.githubusercontent.com/KAIR-ISZ/public_lectures/master/Analiza%20i%20Bazy%20Danych%202021/Lab%202/Datasets/tb.csv'
#tb=pd.read_csv(url2)

tb= pd.melt(tb, id_vars=["iso2","year"], value_name="cases", var_name="sex_and_age")

# Extract Sex, Age lower bound and Age upper bound group
tmp_df = tb["sex_and_age"].str.extract("(\D)(\d+)(\d{2})")    

# Name columns
tmp_df.columns = ["sex", "age_lower", "age_upper"]

# Create `age`column based on `age_lower` and `age_upper`
tmp_df["age"] = tmp_df["age_lower"] + "-" + tmp_df["age_upper"]

# Merge 
df = pd.concat([tb, tmp_df], axis=1)

# Drop unnecessary columns and rows
df = df.drop(['sex_and_age',"age_lower","age_upper"],axis=1)
df = df.dropna()
df = df.sort_values(by=["iso2","year", "sex", "age"],ascending=True)

df_new=df.rename(columns={'iso2':'country'})


df_new.to_csv('../AnalysisData/tb_tidy.csv',index=True)
df_new.head(100)

      country  year  cases sex    age
75003      AD  1996    0.0   f   0-14
80772      AD  1996    1.0   f  15-24
86541      AD  1996    1.0   f  25-34
92310      AD  1996    0.0   f  35-44
98079      AD  1996    0.0   f  45-54
...       ...   ...    ...  ..    ...
23091      AD  2005    0.0   m  15-24
28860      AD  2005    1.0   m  25-34
34629      AD  2005    1.0   m  35-44
40398      AD  2005    0.0   m  45-54
11553      AD  2005    0.0   m   5-14

[100 rows x 5 columns]